<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- bower:css -->
    <link rel='stylesheet' href='/bower_components/angular-material/angular-material.css' />
    <!-- endbower -->
  </head>
  <body ng-app="mashupApp">
    <md-content ng-controller="dashboardCtrl">
      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <h2 flex md-truncate>Dashboard</h2>
        </div>
      </md-toolbar>

      <p>page: <strong>{{ page }}</strong></p>


    <div layout="row" layout-align="none" layout-padding="40px">
      <div layout="column" flex="20">
        
        <!------ WEATHER ------->
        <section class="md-whiteframe-z1">
          <div class="content" layout="row">
            <div flex="35">
              <img src="{{ content.weather.iconUrl }}" style="width:100%;">
            </div>
            <div flex=> </div>
            <div layout="column" flex="60">
              <div layout-margin flex="25">{{content.weather.forecast}}</div>
              <div  flex="50" style="font-size:40px;"><strong>{{ content.weather.temperature }}&deg;C</strong></div>
              <div layout-margin flex="25">{{ content.weather.precipitation }}</div>
            </div>
          </div>
        </section>

        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <div flex md-truncate><strong>Trending Tweets</strong></div>
            </div>
          </md-toolbar>

          <div class="content">
            <div ng-bind-html="content.twitter"></div>
          </div>
        </section>
        
      </div>

      <div layout="column" flex="30">
        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <h2 flex md-truncate>Restaurants</h2>
            </div>
          </md-toolbar>
              <div ng-repeat="r in restaurants" style="background-image: url('{{r.businesses.image_url}}'); background-repeat: no-repeat;background-size:100%;"; >
                <a href='{{r.businesses.url}}'>
                   <div>
                      <p> {{r.businesses.name}} </p>
                      <p> {{r.businesses.rating}} </p>
                      <p> Restaurant Category(ies):</p>
                        <div ng-repeat="c in r.businesses.categories">
                          <p> {{c[0]}} </p>
                      </div>
                   </div>
                </a>
              </div>
        </section>

       
      </div>

      <div layout="column" flex>
        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <h2 flex md-truncate>col 3 row 1</h2>
            </div>
          </md-toolbar>

          <div class="content">Maecenas mollis arcu in ex congue, et suscipit augue malesuada.</div>
        </section>

        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <h2 flex md-truncate>col 3 row 2</h2>
            </div>
          </md-toolbar>

          <div class="content">Vestibulum dignissim interdum quam nec imperdiet. Nullam ac justo purus. Etiam blandit luctus leo feugiat pellentesque. Nullam odio ipsum, consequat in gravida vel, sagittis eu ipsum.</div>
        </section>

        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <h2 flex md-truncate>col 3 row 3</h2>
            </div>
          </md-toolbar>

          <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida nulla vitae neque congue, vitae consequat felis pulvinar. Nullam placerat diam mauris, sit amet ultrices lorem tempus at. Maecenas vehicula egestas sem, vel vehicula dolor vehicula sit amet. Maecenas massa massa, faucibus quis rhoncus suscipit, maximus nec urna.</div>
        </section>

        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <h2 flex md-truncate>col 3 row 3</h2>
            </div>
          </md-toolbar>

          <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida nulla vitae neque congue, vitae consequat felis pulvinar. Nullam placerat diam mauris, sit amet ultrices lorem tempus at. Maecenas vehicula egestas sem, vel vehicula dolor vehicula sit amet. Maecenas massa massa, faucibus quis rhoncus suscipit, maximus nec urna.</div>
        </section>

      </div>
    </div>

    <!-- bower:js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->

    <script src="/javascript/app.js"></script>

    </md-content>
  </body>
</html>
