<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- bower:css -->
    <link rel='stylesheet' href='/bower_components/angular-material/angular-material.css' />
    <!-- endbower -->
  </head>
  <body ng-app="mashupApp">
    <md-content ng-controller="dashboardCtrl">
      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <h2 flex md-truncate>Dashboard</h2>
        </div>
      </md-toolbar>

      <pre>{{ data }}</pre>

      <p>page: <strong>{{ page }}</strong></p>


    <div layout="row" layout-align="none" layout-padding="40px">
      <div layout="column" flex="20">

        <!------ WEATHER ------->
        <section class="md-whiteframe-z1">
          <div class="content" layout="row" layout-padding>
            <div flex="40" layout-align="center center">
              <img src="http://openweathermap.org/img/w/{{ data.weather.weatherIcon }}.png" style="width:100%;">
            </div>
            <div layout="column" flex="60">
              <div flex="25">{{ data.weather.currentState }}</div>
              <div flex="50" style="font-size:36px; font-weight: bold;">{{ data.weather.weatherValues.temp|number:0 }} &deg;C</div>
              <div flex="25">{{ data.weather.descriptionOfState }}</div>
            </div>
          </div>
        </section>

        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <div flex md-truncate><strong>Trending Tweets</strong></div>
            </div>
          </md-toolbar>

          <div class="content">
            <div ng-bind-html="tweet.html|trust" ng-repeat="tweet in data.popularTweets"></div>
          </div>
        </section>

      </div>

      <div layout="column" flex="30">
        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <div flex md-truncate><strong>Events</strong></div>
            </div>
          </md-toolbar>

          <div class="content" id="events">
            <div ng-repeat="event in data.events">
                <a href='{{event.eventURL}}'>{{event.title}} </a>
                <b>Start time: {{event.start}} </b>
                <b>End time: {{event.end}} </b>
                <b>Access: {{event.is_free && 'Free' || 'Paid' }}</b>
                
            </div>
          </div>
        </section>
      </div>

      <div layout="column" flex>
        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <h2 flex md-truncate>Forecast</h2>
            </div>
          </md-toolbar>

          <div class="content">
            <div layout="row">
              <div layout="column" flex="20" ng-repeat="n in [1, 10, 20, 30, 40]" style="text-align: center;">
                <div>
                  <small am-time-ago="data.forecast.list[n-1].dt * 1000"></small>
                </div>
                <div>
                  <img src="http://openweathermap.org/img/w/{{ data.forecast.list[n-1].weather[0].icon }}.png" style="width: 80px;">
                </div>
                <div>
                  {{ data.forecast.list[n-1].weather[0].main }}<br />
                  <small>{{ data.forecast.list[n-1].weather[0].description }}</small>
                </div>
                <div style="font-size:36px; font-weight: bold;">
                  {{ data.forecast.list[n-1].main.temp|number:0 }} &deg;C<br />
                </div>
                <div>
                  <small>Low: {{ data.forecast.list[n-1].main.temp_min|number:0 }} &deg;C, High: {{ data.forecast.list[n-1].main.temp_max|number:0 }} &deg;C</small>
                </div>
              </div>
            </div>
          </div>
        </section>







        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <div flex md-truncate><strong>News</strong></div>
            </div>
          </md-toolbar>

          <div class="content" id="news">
            <div ng-bind-html="news.html|trust" ng-repeat="news in data.news"></div>
          </div>
        </section>

        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <h2 flex md-truncate>col 3 row 3</h2>
            </div>
          </md-toolbar>

          <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida nulla vitae neque congue, vitae consequat felis pulvinar. Nullam placerat diam mauris, sit amet ultrices lorem tempus at. Maecenas vehicula egestas sem, vel vehicula dolor vehicula sit amet. Maecenas massa massa, faucibus quis rhoncus suscipit, maximus nec urna.</div>
        </section>

        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <h2 flex md-truncate>col 3 row 3</h2>
            </div>
          </md-toolbar>

          <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida nulla vitae neque congue, vitae consequat felis pulvinar. Nullam placerat diam mauris, sit amet ultrices lorem tempus at. Maecenas vehicula egestas sem, vel vehicula dolor vehicula sit amet. Maecenas massa massa, faucibus quis rhoncus suscipit, maximus nec urna.</div>
        </section>

      </div>
    </div>

    <!-- bower:js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.js"></script>
    <!-- endbower -->

    <script src="/javascript/app.js"></script>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    </md-content>
  </body>
</html>
