<!DOCTYPE html>
<html ng-app="mashupApp" ng-style="{'background-image':'url('+bg+')'}">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="/bower_components/angular-google-places-autocomplete/src/autocomplete.css">
    <!-- endbower -->
  </head>
  <body ng-controller="dashboardCtrl" ng-cloak>
    <md-content style="background-color: transparent">
      <md-toolbar class="md-hue-2">
      <br>
        <div layout="row" flex> 
            <div flex></div>
            <div layout-padding>
              <i class="material-icons">location_on</i>
            </div>
            <div flex>
              <md-input-container flex class="md-block">
                <label>Location</label>
                <input type="text" g-places-autocomplete ng-model="place"/>
              </md-input-container>
            </div>
            <div layout-padding>
              <md-button class="md-fab md-mini" aria-label="Search" ng-click="getNewPlace()">
                  <md-icon><i class="material-icons">search</i></md-icon>
              </md-button>
            </div>
            <div flex></div>
        </div>
      </md-toolbar>

    </md-content>


    <div ng-show="loading" style="text-align: center; padding: 120px 0; position: fixed; left: 45%" class="fade fade-q">
      <md-progress-circular md-diameter="96"></md-progress-circular>
    </div>

    <div layout="row" layout-align="none" layout-padding="40px" ng-hide="loading" class="fade fade-2s">
      <div layout="column" flex="25">

        <!-- ---- WEATHER ---- -->
        <section class="md-whiteframe-z1">
          <div class="content" layout="row" layout-padding>
            <div flex="40" layout-align="center center">
              <img src="http://openweathermap.org/img/w/{{ data.weather.weatherIcon }}.png" style="width:100%;">
            </div>
            <div layout="column" flex="60">
              <div flex="25">{{ data.weather.currentState }}</div>
              <div flex="50" style="font-size:36px; font-weight: bold;">{{ data.weather.weatherValues.temp|number:0 }} &deg;C</div>
              <div flex="25">{{ data.weather.descriptionOfState }}</div>
            </div>
          </div>
        </section>

        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <div flex md-truncate><strong>Trending Tweets</strong></div>
            </div>
          </md-toolbar>

          <div class="content">
            <twitter-widget ng-bind-html="tweet.html|trust" ng-repeat="tweet in data.popularTweets"></twitter-widget>
          </div>
        </section>

      </div>

      <div layout="column" flex="25">
        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <div flex md-truncate><strong>Events</strong></div>
            </div>
          </md-toolbar>

          <div class="content" id="events">
            <div ng-repeat="event in data.events">
                <a class="eventTitle" href='{{event.eventURL}}'>{{event.title}} </a>
                <b class="eventTime">Start time: {{event.start}} </b>
                <b class="eventTime">End time: {{event.end}} </b>
                <b class="eventAccess">Access: {{event.is_free && 'Free' || 'Paid' }}</b>
                
            </div>
          </div>
        </section>
      </div>

      <div layout="column" flex>
        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <h2 flex md-truncate>Forecast</h2>
            </div>
          </md-toolbar>

          <div class="content">
            <div layout="row">
              <div layout="column" flex="20" ng-repeat="n in [1, 10, 20, 30, 40]" style="text-align: center;">
                <div>
                  <small am-time-ago="data.forecast.list[n-1].dt * 1000"></small>
                </div>
                <div>
                  <img src="http://openweathermap.org/img/w/{{ data.forecast.list[n-1].weather[0].icon }}.png" style="width: 80px;">
                </div>
                <div>
                  {{ data.forecast.list[n-1].weather[0].main }}<br />
                  <small>{{ data.forecast.list[n-1].weather[0].description }}</small>
                </div>
                <div style="font-size:36px; font-weight: bold;">
                  {{ data.forecast.list[n-1].main.temp|number:0 }} &deg;C<br />
                </div>
                <div>
                  <small>Low: {{ data.forecast.list[n-1].main.temp_min|number:0 }} &deg;C, High: {{ data.forecast.list[n-1].main.temp_max|number:0 }} &deg;C</small>
                </div>
              </div>
            </div>
          </div>
        </section>







        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <div flex md-truncate><strong>News</strong></div>
            </div>
          </md-toolbar>

          <div class="content" id="news">
            <div ng-bind-html="news.html|trust" ng-repeat="news in data.news"></div>
          </div>
        </section>

        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <h2 flex md-truncate>col 3 row 3</h2>
            </div>
          </md-toolbar>

          <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida nulla vitae neque congue, vitae consequat felis pulvinar. Nullam placerat diam mauris, sit amet ultrices lorem tempus at. Maecenas vehicula egestas sem, vel vehicula dolor vehicula sit amet. Maecenas massa massa, faucibus quis rhoncus suscipit, maximus nec urna.</div>
        </section>

        <section class="md-whiteframe-z1">
          <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
              <h2 flex md-truncate>col 3 row 3</h2>
            </div>
          </md-toolbar>

          <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida nulla vitae neque congue, vitae consequat felis pulvinar. Nullam placerat diam mauris, sit amet ultrices lorem tempus at. Maecenas vehicula egestas sem, vel vehicula dolor vehicula sit amet. Maecenas massa massa, faucibus quis rhoncus suscipit, maximus nec urna.</div>
        </section>

      </div>
    </div>

    <!-- bower:js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.js"></script>
    <script src="/bower_components/ngtweet/dist/ngtweet.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="/bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>\
    <!-- endbower -->

    <script src="/javascript/app.js"></script>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
