@import url('https://fonts.googleapis.com/css?family=Quicksand');

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

section.md-whiteframe-z1 {
  margin-bottom: 20px;
  opacity: 0.85;
}

section.md-whiteframe-z1:hover {
  margin-bottom: 20px;
  opacity: 1;
}

section .content {
  padding: 10px;
  background: #fff;
}

md-content, body {
  background-color: transparent !important;
}

html {
  background: url() no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fade {
  opacity: 1;
}

.fade-q {
  transition: 0.3s linear all;
}

.fade-2s {
  transition: 1s linear all;
}

.fade.ng-hide {
  opacity: 0;
}

md-input-container .md-input {
color: rgba(255,255,255,0.87);
border-color: rgba(175, 169, 181,0.82);
font-family: 'Quicksand', sans-serif;
}

md-input-container label {
    color: rgba(255,255,255,0.87);
}

#news .lh {
    margin-top: -3.5em;
}

#news table{
    border-bottom: 1px solid grey;  
}

#news table .last{
    border-bottom:none;  
}

#eventTitle{
   font-size: 15px;
  font-weight: bold;
}
#eventTime{
   font-size: 15px;
  font-weight: bold;
}
