@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: 'Quicksand', sans-serif;
}

section.md-whiteframe-z1 {
  margin-bottom: 20px;
}

section .content {
  padding: 10px;
}

#news .lh {
    margin-top: -9%;
}

#news table{
    border-bottom: 1px solid grey;  
}

#news table .last{
    border-bottom:none;  
}


#events{
    margin-bottom: 8%;
}
