@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: 'Quicksand', sans-serif;
}

section.md-whiteframe-z1 {
  margin-bottom: 20px;
}

section .content {
  padding: 10px;
}

md-input-container .md-input {
color: rgba(255,255,255,0.87);
border-color: rgba(254,253,103,0.82);
font-family: 'Quicksand', sans-serif;
}